<div class="questions" *ngIf="questions && { timer: timer$ | async } as t">
  <p-carousel [value]="questions" [page]="questionNumber" (onPage)="onNewQuestion($event)">
    <ng-template let-q pTemplate="item">
      <div class="question">
        <div class="question-content">
          <h4>
            Q:{{ questions.indexOf(q) + 1 }} <span>{{ q.question }} </span>
          </h4>
          <div class="time">
            Time: <i class="pi pi-clock"></i>
            <span>{{ !t.timer || t.timer === 0 ? startTime : t.timer }} SECONDS</span>
          </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit(q)" class="form">
          <p-radioButton name="answer" [value]="q.correct_answer" formControlName="answer" class="answer"></p-radioButton>
          <label for="answerId">{{ q.correct_answer }} </label>

          <p-radioButton name="answer" [value]="q.incorrect_answers[0]" formControlName="answer" class="answer"></p-radioButton>
          <label for="answerId">{{ q.incorrect_answers[0] }} </label>

          <p-radioButton name="answer" [value]="q.incorrect_answers[1]" formControlName="answer" class="answer"></p-radioButton>
          <label for="answerId">{{ q.incorrect_answers[1] }} </label>

          <p-radioButton name="answer" [value]="q.incorrect_answers[2]" formControlName="answer" class="answer"></p-radioButton>
          <label for="answerId">{{ q.incorrect_answers[2] }} </label>

          <button pButton type="submit" label="OK"></button>

          <button pButton type="button" label="GO" (click)="start()" [disabled]="t.timer"></button>
        </form>
      </div>
    </ng-template>
  </p-carousel>
</div>

<!-- [disabled]="!form.valid" -->
