<div class="questions" *ngIf="questions && { timer: timer$ | async } as t">
  <p-carousel [value]="questions" [page]="questionNumber" (onPage)="onChangedQuestion()">
    <ng-template let-q pTemplate="item">
      <div class="question">
        <div class="question-content">
          <h4>
            Q:{{ questions.indexOf(q) + 1 }} <span>{{ q.question }} </span>
          </h4>

          <div class="time">
            Time: <i class="pi pi-clock"></i>
            <span>{{ !t.timer || t.timer === 0 ? startTime : t.timer }} SECONDS</span>
          </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit(q)" class="form">
          <ng-container *ngFor="let answer of answers">
            <p-radioButton name="answer" [value]="answer" formControlName="answer" class="answer"></p-radioButton>
            <label for="answerId">{{ answer }} </label>
          </ng-container>

          <button pButton type="submit" label="OK" [disabled]="!form.valid"></button>

          <button pButton type="button" label="GO" (click)="start()" [disabled]="t.timer"></button>
        </form>
      </div>
    </ng-template>
  </p-carousel>
</div>
