// ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator {
//   pointer-events: none !important;
// }

// ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev,
// ::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
//   display: none !important;
// }

.questions {
  .question {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #e7e7e7e7;

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h4 {
        margin: 1rem auto 1rem 0;
        color: #2196f3;

        span {
          color: #333;
          font-size: 0.8rem;
        }
      }

      .time {
        .pi.pi-clock {
          margin: 0 0.3rem;
          color: #2196f3;
        }

        span {
          color: #2196f3;
        }
      }
    }

    .form {
      display: grid;
      grid-template-columns: 1.5rem 1fr;
      gap: 1rem 0.5rem;

      .answer {
        width: fit-content;
      }

      button {
        width: 5rem;

        &:first-of-type {
          margin-right: auto;
        }

        &:last-of-type {
          margin-left: auto;
        }
      }
    }
  }
}
